{
  "arrowParens": "always",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "semicolon": true,
  "printWidth": 100,
  "endOfLine": "lf"
}
